<a href="https://colab.research.google.com/github/Aniketpatil1992/Project/blob/main/50_startups_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# Importing the dataset
data= pd.read_csv("/content/50_startups_data.csv")
data.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   Profit           50 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB

In [5]:
# Initiating variables
X = data.drop(['Profit'], axis=1)
y = data['Profit'].values.reshape(-1,1)

In [6]:
# Splitting data into training and testing data set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=10, random_state=10)

In [7]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [9]:
y_pred = reg.predict(X_test)

array([[ 89007.40524486],
       [109563.17674741],
       [ 65520.98039604],
       [ 70626.90662787],
       [ 47340.80998763],
       [116281.95375606],
       [172996.33916291],
       [ 99716.7473907 ],
       [159777.958602  ],
       [158417.77783251]])

In [12]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9917459017235681

In [28]:
#Taking the input from the user
print("Enter the ammount you will invest on:")
a= float(input("R&D : "))
Administration = float(input("Administration : "))
Marketing = float(input("Marketing  : "))
#predicting the sales with respect to the inputs
output = reg.predict([[a,Administration,Marketing]])
print("you will get Rs{:.3f} sales by \n advertising Rs{} on R&D,\n Rs{} on Administration and \n Rs{} on Marketing."\
      .format(output[0][0] if output else "not predictable",a, Administration, Marketing))

Enter the ammount you will invest on:
R&D : 18000
Administration : 19000
Marketing  : 25000
you will get Rs64404.336 sales by
 advertising Rs18000.0 on R&D,
 Rs19000.0 on Administration and
 Rs25000.0 on Marketing.

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"